<include file="Index:header"/>
<style type="text/css">
#dynamic-table tr th{
padding: 20px 0 0 0;
font-size: 14px;
}
</style>
    <div id="content">
        <div id="content-header">
                <h1>Dashboard</h1>
                <div class="btn-group">
                    <a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
                    <a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
                    <a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
                    <a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
                </div>
            </div>
            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
                <a href="#" class="current">添加轮播图</a>
            </div>

       <div class="main-content-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form style="margin: 2% 0 0 10%;" id="form1" class="form-horizontal" name="form1" method="post" action="{:U('Picture/runadd')}" enctype="multipart/form-data">
                          <div class="form-group">
                             轮播图名称：<input type="text" class="form-control" id="luname" name="luname">
                          </div>
                          <div class="form-group">
                             轮播图链接：<input type="text" class="form-control" style="margin:3% 0 0 0;" id="img_link" name="img_link">
                          </div>
                          <div class="form-group" style="padding:3% 0;">
                            <label  for="exampleInputFile">上传图片：
                            <input type="file" name ="picture" id="exampleInputFile"></label>
                          </div>
                            <label>预览:<img style="width:335px;height:117px;boreder:1px solid #333;margin:0 0 2% 5%;" src="__PUBLIC__/images/none.jpg" alt="轮播图" class="img-thumbnail"></label>
                          <button type="submit" class="border:1tn btn-default">添加</button>
                          &nbsp;&nbsp; &nbsp;&nbsp;
                          <button type="reset" class="btn btn-default">重置</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
<include file='Index:footer'/>


<script>

$(function(){
    $('#form1').ajaxForm({
        beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
        success: complete, // 这是提交后的方法
        dataType: 'json'
    });
    
    function checkForm(){
        if( '' == $.trim($('#luname').val())){
            layer.alert('轮播图名称不能为空', {icon: 6}, function(index){
            layer.close(index);
            $('#luname').focus(); 
            });
            return false;
        }
        if( '' == $('#img_link').val()){
            layer.alert('轮播图链接不能为空', {icon: 6}, function(index){
            layer.close(index);
            $('#img_link').focus(); 
            });
            return false;
        }
 }

    function complete(data){
        if(data.status==1){
            layer.alert(data.info, {icon: 6}, function(index){
            layer.close(index);
            window.location.href=data.url;
            });
        }else{
            alert(data.info);
            return false;   
        }
    }
 
});

$("#exampleInputFile").change(function(){
    var objUrl = getObjectURL(this.files[0]) ;
    console.log("objUrl = "+objUrl) ;
    if (objUrl) {
        $(".img-thumbnail").attr("src", objUrl) ;
    }
}) ;

$(".btn-default").click(function(){
        $(".img-thumbnail").attr("src", "__PUBLIC__/images/none.jpg") ;
});

//建立一個可存取到該file的url
function getObjectURL(file) {
    var url = null ; 
    if (window.createObjectURL!=undefined) { // basic
    $("#news_flag_vap").attr("checked", true);
        url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
    $("#news_flag_vap").attr("checked", true);
        url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
        $("#news_flag_vap").attr("checked", true);
        url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
}

</script>