            <script src="__PUBLIC__/js/excanvas.min.js"></script>
            <script src="__PUBLIC__/js/jquery.min.js"></script>
            <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
            <script src="__PUBLIC__/js/bootstrap.min.js"></script>
            <!--<script src="__PUBLIC__/js/jquery.flot.min.js"></script>
             <script src="__PUBLIC__/js/unicorn.dashboard.js"></script>
            <script src="__PUBLIC__/js/jquery.flot.resize.min.js"></script>
             -->
            <script src="__PUBLIC__/js/jquery.peity.min.js"></script>
            <script src="__PUBLIC__/js/fullcalendar.min.js"></script>
           
           
            <script src="__PUBLIC__/js/ace-extra.js"></script>
            <script src="__PUBLIC__/layer/layer.js"></script>
            <script src="__PUBLIC__/js/jquery.form.js"></script>
             <script src="__PUBLIC__/js/unicorn.js"></script>
	</body>
</html>
